# Hands-On Practice

## Variables, Arithmetics, & Comparison

**Tugas 1:**  
Tetapkan nilai berikut ke dalam variabel:
- Sebuah integer ke `students_count`  
- Sebuah float ke `rating`  
- Sebuah boolean ke `is_published`  
- Sebuah string ke `course_name`

In [110]:
# Write your code here
students_count = 100
rating = 4.24
is_published = True
course_name ="GSB-T"

print(students_count)
print(rating)
print(is_published)
print(course_name)

100
4.24
True
GSB-T

**Tugas 2:**  
Gunakan `students_count` dan `rating` untuk menghitung:
- `total_score = students_count * rating`  
- `average_score = total_score / 2`

In [113]:
total_score = students_count * rating
average_score = total_score / 2

print("Total Score:", total_score)
print("Average Score:", average_score)

Total Score: 424.0
Average Score: 212.0

**Tugas 3:**  
Periksa apakah `rating` lebih besar dari `4.0`.  
Simpan hasilnya dalam variabel bernama `is_high_rating`.

In [114]:
is_high_rating = rating > 4.0

print("Nama Course:", course_name)
print("Jumlah Siswa:", students_count)
print("Rating:", rating)
print("Dipublikasikan:", is_published)
print("Total Score:", total_score)
print("Average Score:", average_score)
print("Apakah rating tinggi?:", is_high_rating)

Nama Course: GSB-T
Jumlah Siswa: 100
Rating: 4.24
Dipublikasikan: True
Total Score: 424.0
Average Score: 212.0
Apakah rating tinggi?: True

**Tugas 4:**  
Gunakan `students_count` dan periksa apakah nilainya setelah dikalikan dua lebih kecil dari `5000`.  
Simpan hasilnya dalam variabel bernama `is_small_course`.

In [115]:
is_small_course = (students_count * 2) < 5000
print("is_small_couse")
print("Apakah jumlah siswa kecil?:", is_small_course)

is_small_couse
Apakah jumlah siswa kecil?: True

**Tugas 5:**  
Diberikan:

```python
a = 5
b = 10
```

Tukar nilai dari `a` dan `b`.

In [116]:
# Write your code here
a = 5
b = 10

a, b = b, a

print("a =", a)
print("b =", b)

a = 10
b = 5

## Strings

**Tugas 1:**  
Buat string bernama `quote` yang berisi teks:  
`Ali said "Python is fun"`  
Pastikan kamu menggunakan escape sequence yang benar.

In [117]:
# Write your code here
quote = "Ali said \"Python is fun\""

print(quote)

Ali said "Python is fun"

**Tugas 2:**  
Diberikan string berikut:

```python
course = "Python Programming"
```

Gunakan slicing untuk mengekstrak:
- `"Python"` dan simpan ke dalam variabel `language`
- `"Programming"` dan simpan ke dalam variabel `subject`

In [118]:
# Write your code here
course = "Python Programming"

In [119]:
print("Indexing:")
print(course[1])   # 'P'
print(course[-1])  # 'g' (last character)

Indexing:
y
g

In [120]:
print("Slicing:")
print(course[0:6])    # 'Python'
print(course[:6])     # 'Python'
print(course[7:])     # 'programing'
print(course)     # 'Programming'

Slicing:
Python
Python
Programming
Python Programming

**Tugas 3:**  
Diberikan `name = "  ali fazli  "`, gunakan method string untuk:
- Menghapus spasi berlebih di awal dan akhir  
- Membuat huruf pertama setiap kata menjadi kapital  
- Simpan hasil akhirnya ke dalam variabel `clean_name`

In [121]:
# Write your code here
name = " ali fazli "

clean_name = name.strip().title()

print(clean_name)

Ali Fazli

**Tugas 4:**  
Diberikan `sentence = "I love Java. Java is cool."`, lakukan hal berikut:
- Temukan indeks kemunculan pertama dari `"Java"`  
- Ganti semua `"Java"` dengan `"Python"`

In [122]:
# Write your code here
sentence = "I love Java. Java is cool."
first_index = sentence.find("Java")
print("Indeks kemunculan pertama 'Java':", first_index)

new_sentence = sentence.replace("Java", "Python")
print("Kalimat baru:", new_sentence)

Indeks kemunculan pertama 'Java': 7
Kalimat baru: I love Python. Python is cool.

**Tugas 5:**  
Diberikan:

```python
name = "Ali"
age = 20
```

Buat formatted string yang menghasilkan:
- `"My name is Ali and I am 20 years old."`
- Simpan hasilnya ke dalam variabel `message`

In [40]:
# Write your code here
name = "Ali"
age = 20

message = f"My name is {name} and I am {age} years old."

print(message)

My name is Ali and I am 20 years old.

## Conditional Statements & Logical Operators

**Tugas 1:**  
Diberikan:

```python
temperature = 30
```

Tulislah pernyataan `if` yang mencetak `"It's hot"` jika nilai `temperature` lebih dari 25.

In [123]:
# Write your code here
temperature = 30

if temperature > 25:
    print("It's hot")

It's hot

**Tugas 2:**  
Minta pengguna memasukkan password menggunakan `input()`.  
Jika password-nya adalah `"admin"`, cetak `"Access granted"`; jika tidak, cetak `"Access denied"`.

In [125]:
# Write your code here
password = input("Enter password: ")
if password == "admin":
    print("Access granted")
else:
    print("Access denied")

Enter password: admin
Access granted

**Tugas 3:**  
Diberikan sebuah variabel `age`, tulislah kondisi untuk:
- Mencetak `"Child"` jika `age < 13`  
- Mencetak `"Teen"` jika `13 <= age < 18`  
- Mencetak `"Adult"` jika tidak memenuhi kedua kondisi di atas

In [126]:
# Write your code here
age = 19
if age < 13:
    print("Child")
elif 13 <= age < 18:
    print("Teen")
else:
    print("Adult")

Adult

**Tugas 4:**  
Diberikan:

```python
score = 85
is_submitted = True
```

Cetak `"Passed"` hanya jika nilai `score` minimal 70 dan tugas sudah dikumpulkan (`is_submitted == True`).
Jika tidak, cetak `"Failed"`.

In [127]:
# Write your code here
score = 85
is_submitted = True
if score >= 70 and is_submitted == True:
    print("Passed")
else:
    print("Failed")

Passed

**Tugas 5:**  
Diberikan:

```python
logged_in = False
is_admin = True
```

- Cetak `"Access denied"` jika belum login dan bukan admin.
- Jika tidak, cetak `"Access granted"`.

In [128]:
# Write your code here
logged_in = False
is_admin = True

if not logged_in and not is_admin:
    print("Access denied")
else:
    print("Access granted")

Access granted

## For Loops

**Tugas 1:**  
Gunakan `for` loop dan `range()` untuk mencetak angka dari 1 sampai 5.

In [129]:
# Write your code here
for i in range(1, 6):
    print(i)

1
2
3
4
5

**Tugas 2:**  
Diberikan:

```python
fruits = ["apple", "banana", "cherry"]
```

Gunakan `for` loop untuk mencetak setiap buah dalam huruf kapital (uppercase).

In [130]:
# Write your code here
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit.upper())

APPLE
BANANA
CHERRY

**Tugas 3:**  
Buat list baru bernama `cubes` yang berisi hasil pangkat tiga (^3) dari angka 0 sampai 4 menggunakan **list comprehension satu baris**.

In [131]:
# Write your code here
cubes = [x**3 for x in range(5)]

print(cubes)

[0, 1, 8, 27, 64]

**Tugas 4:**  
Buat list bernama `odds` yang hanya menyimpan **bilangan ganjil** dari 0 hingga 10 menggunakan list comprehension.

In [132]:
# Write your code here
odds = [x for x in range(11) if x % 2 != 0]

print(odds)

[1, 3, 5, 7, 9]

**Tugas 5:**  
Diberikan sebuah matriks:

```python
matrix = [
    [1, 2, 3],
    [4, 5, 6]
]
```

Gunakan `for` **loop bersarang** (nested loop) untuk mencetak setiap elemen dalam matriks satu per satu.

In [133]:
# Write your code here
matrix = [
    [1, 2, 3],
    [4, 5, 6]
]
for row in matrix:
    for element in row:
        print(element)

1
2
3
4
5
6

## While Loops

**Tugas 1:**  
Cetak angka dari 1 sampai 5 menggunakan `while` loop.

In [134]:
# Write your code here
i = 1
while i <= 5:
    print(i)
    i += 1

1
2
3
4
5

**Tugas 2:**  
Minta pengguna memasukkan sebuah angka dan cetak hasil kuadrat dari angka tersebut.  
Terus minta input **hingga pengguna memasukkan angka yang lebih besar atau sama dengan 10**.

Hint: gunakan `int(input())`

In [135]:
# Write your code here
while True:
    number = int(input("Masukkan angka: "))
    print("Kuadrat:", number ** 2)

    if number >= 10:
        break

Masukkan angka: 2
Kuadrat: 4
Masukkan angka: 77
Kuadrat: 5929

**Tugas 3:**  
Gunakan `while True` loop untuk terus meminta pengguna memasukkan teks dan cetak teks tersebut.  
Jika pengguna mengetik `"quit"`, keluar dari loop tanpa mencetak `"quit"` menggunakan `break`.

In [137]:
# Write your code here
while True:
    teks = input("Masukkan teks (ketik 'quit' untuk keluar): ")
    if teks.lower() == "quit":
        break
    print(teks)

Masukkan teks (ketik 'quit' untuk keluar): aku suka buah
aku suka buah
Masukkan teks (ketik 'quit' untuk keluar): quit

**Tugas 4:**  
Gunakan `while` loop untuk mencetak hanya **bilangan ganjil** antara 1 sampai 10.  

Gunakan `continue` untuk melewati bilangan genap.

In [138]:
# Write your code here
i = 1
while i <= 10:
    if i % 2 == 0:
        i += 1
        continue
    print(i)
    i += 1

1
3
5
7
9

**Tugas 5:**  
Mulailah dengan:

```python
attempts = 0
```

Terus minta pengguna untuk memasukkan password (gunakan `input()`), dan berhenti hanya jika:
- Pengguna memasukkan password yang benar `"python123"`, atau
- Sudah mencoba sebanyak 3 kali (`attempts >= 3`)

Cetak `"Access granted"` jika password benar, atau `"Access denied"` jika melebihi batas percobaan.

In [139]:
# Write your code here
attempts = 0
correct_password = "python123"
while attempts < 3:
    password = input("Masukkan password: ")
    attempts += 1
    if password == correct_password:
        print("Access granted")
        break
else:
    print("Access denied")

Masukkan password: nnbiie
Masukkan password: nabila
Masukkan password: saya
Access denied

## Lists and Tuples

**Tugas 1:**  
Diberikan list:

```python
numbers = [10, 20, 30, 40, 50]
```

- Gunakan slicing dan simpan 3 elemen pertama ke dalam `first_three`
- Gunakan slicing dan simpan 2 elemen terakhir ke dalam `last_two`

In [140]:
# Write your code here
numbers = [10, 20, 30, 40, 50]
first_three = numbers[:3]
last_two = numbers[-2:]

print("First three:", first_three)
print("Last two:", last_two)

First three: [10, 20, 30]
Last two: [40, 50]

**Tugas 2:**  
Diberikan:

```python
fruits = ["apple", "banana", "cherry"]
```

- Tambahkan `"orange"` ke akhir list
- Sisipkan `"kiwi"` di awal list
- Hapus `"banana"` dari list

In [141]:
# Write your code here
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
fruits.insert(0, "kiwi")
fruits.remove("banana")
print(fruits)

['kiwi', 'apple', 'cherry', 'orange']

**Tugas 3:**  
Diberikan:

```python
a = [1, 2, 3]
```

- Buat salinan list dan simpan sebagai `a_copy`
- Buat view (referensi) dari list dan simpan sebagai `a_view`
- Ubah nilai `a_view[0] = 99`
- Cetak `a`, `a_view`, dan `a_copy` untuk melihat perbedaannya

In [142]:
# Write your code here
a = [1, 2, 3]
a_copy = a.copy()
a_view = a
a_view[0] = 99

print("a      :", a)
print("a_view :", a_view)
print("a_copy :", a_copy)

a      : [99, 2, 3]
a_view : [99, 2, 3]
a_copy : [1, 2, 3]

**Tugas 4:**  
Diberikan:

```python
coords = (10, 20, 30)
```

Unpack tuple tersebut ke dalam tiga variabel: `x`, `y`, dan `z`.

In [143]:
# Write your code here
coords = (10, 20, 30)
x, y, z = coords

print("x =", x)
print("y =", y)
print("z =", z)

x = 10
y = 20
z = 30

**Tugas 5:**  
Diberikan:

```python
point = (3, 4)
```

Unpack tuple tersebut, lalu hitung jarak Euclidean dari titik asal menggunakan rumus:

`distance = (x**2 + y**2)**0.5`

In [144]:
# Write your code here
point = (3, 4)
x, y = point
distance = (x**2 + y**2) ** 0.5

print("Jarak Euclidean =", distance)

Jarak Euclidean = 5.0

**Tugas 6:**  
Diberikan:

```python
nums = (4, 1, 3, 2)
```

- Ubah `nums` menjadi list agar dapat dimodifikasi
- Urutkan list dalam urutan menaik
- Balik urutan list tersebut
- Hapus elemen terakhir menggunakan `pop()`
- Kosongkan seluruh isi list

In [146]:
# Write your code here
nums = (4, 1, 3, 2)
nums_list = list(nums)
nums_list.sort()
nums_list.reverse()
nums_list.pop()
nums_list.clear()

**Tugas 7:**  
Diberikan:

```python
data = [1, 2, 3, 4, 5]
```

Gunakan extended unpacking untuk:
- Menyimpan elemen pertama ke dalam `head`
- Menyimpan sisa elemen ke dalam `tail`

In [147]:
# Write your code here
data = [1, 2, 3, 4, 5]
head, *tail = data
print("head:", head)
print("tail:", tail)

head: 1
tail: [2, 3, 4, 5]

## Dictionaries

**Tugas 1:**  
Diberikan:

```python
student = {"name": "Ali", "age": 20}
```

- Cetak nilai dari `"name"` menggunakan `student["name"]` dan `student.get("name")`
- Coba ambil nilai dari `"email"` menggunakan `.get()` tanpa menimbulkan error

In [148]:
# Write your code here
student = {"name": "Ali", "age": 20}
print(student["name"])
print(student.get("name"))
print(student.get("email"))

Ali
Ali
None

**Tugas 2:**  
Gunakan `.get()` untuk mengambil nilai `"email"` dari dictionary `student`.  
Jika key tersebut tidak ada, kembalikan nilai `"Not provided"` sebagai default.

In [149]:
# Write your code here
student = {"name": "Ali", "age": 20}
email = student.get("email", "Not provided")

print(email)

Not provided

**Tugas 3:**  
- Ubah umur siswa menjadi 21  
- Tambahkan key baru `"grade"` dengan nilai `"A"`

In [150]:
# Write your code here
student = {"name": "Ali", "age": 20}
student["age"] = 21
student["grade"] = "A"

print(student)

{'name': 'Ali', 'age': 21, 'grade': 'A'}

**Tugas 4:**  
Cetak semua hal berikut:
- Hanya key  
- Hanya value  
- Key dan value sebagai pasangan (tuple)

In [151]:
# Write your code here
student = {"name": "Ali", "age": 21, "grade": "A"}
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'age', 'grade'])
dict_values(['Ali', 21, 'A'])
dict_items([('name', 'Ali'), ('age', 21), ('grade', 'A')])

**Tugas 5:**  
Lakukan loop pada dictionary `student` dan cetak setiap key beserta nilai pasangannya dengan format:  
`key: value`

In [153]:
# Write your code here
student = {"name": "Ali", "age": 20, "grade": "A"}
for key, value in student.items():
    print(f"{key}: {value}")

name: Ali
age: 20
grade: A

## Sets

**Tugas 1:**  
Buat sebuah set bernama `nums` dengan nilai `[3, 3, 4, 2, 2, 2, 1]`.  
Cetak isi set tersebut.  

Apa yang kamu perhatikan dari hasilnya?

In [154]:
# Write your code here
nums = {3, 3, 4, 2, 2, 2, 1}
print(nums)

{1, 2, 3, 4}

**Tugas 2:**  
Buat sebuah set kosong bernama `my_set` (bukan dictionary).  
Lalu tambahkan `"apple"` dan `"banana"` ke dalamnya.

In [155]:
# Write your code here
my_set = set()
my_set.add("apple")
my_set.add("banana")

**Tugas 3:**  
Diberikan:

```python
a = {1, 2, 3}
b = {3, 4, 5}
```

- Buat set baru `union_set` yang merupakan gabungan dari keduanya
- Buat set baru `intersect_set` yang hanya berisi elemen yang sama dari keduanya

In [156]:
# Write your code here
a = {1, 2, 3}
b = {3, 4, 5}
union_set = a.union(b)
intersect_set = a.intersection(b)

print("Union:", union_set)
print("Intersection:", intersect_set)

Union: {1, 2, 3, 4, 5}
Intersection: {3}

**Tugas 4:**  
Menggunakan set `a` dan `b` yang sama:

- Buat `diff_set` yang berisi nilai-nilai yang ada di `a` tapi tidak di `b`  
- Buat `sym_diff_set` yang berisi nilai-nilai yang ada di `a` atau `b`, tapi tidak keduanya

In [157]:
# Write your code here
diff_set = a - b
print(diff_set)

{1, 2}

**Tugas 5:**  
Gunakan set comprehension untuk membuat sebuah set yang berisi semua bilangan genap dari 0 sampai 20.

In [158]:
# Write your code here
even_set = {x for x in range(21) if x % 2 == 0}
print(even_set)

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20}

## Input dan Typecasting

**Tugas 1:**  
Minta pengguna untuk memasukkan nama mereka dan simpan dalam variabel `name`.  
Cetak `Hello, <name>!`

In [159]:
# Write your code here
name = input("Masukkan nama Anda: ")
print(f"Hello, {name}!")

Masukkan nama Anda: nabila
Hello, nabila!

**Tugas 2:**  
Minta pengguna memasukkan umur mereka, lalu ubah menjadi `int`.  
Jika umur  18, cetak `"Dewasa"`, jika tidak, cetak `"Anak-anak"`.

In [160]:
# Write your code here
umur = int(input("Masukkan umur Anda: "))
if umur >= 18:
    print("Dewasa")
else:
    print("Anak-anak")

Masukkan umur Anda: 19
Dewasa

**Tugas 3:**  
Minta pengguna memasukkan dua angka desimal (`float`).  
Jumlahkan kedua angka tersebut dan tampilkan hasilnya.

In [161]:
2# Write your code here
angka1 = float(input("Masukkan angka pertama: "))
angka2 = float(input("Masukkan angka kedua: "))

hasil = angka1 + angka2
print("Hasil penjumlahan:", hasil)

Masukkan angka pertama: 22
Masukkan angka kedua: 22
Hasil penjumlahan: 44.0

**Tugas 4:**  
Minta pengguna mengisi input. Jika pengguna tidak mengisi apa-apa, anggap input tersebut `False`.  
Gunakan `bool()` untuk mengecek apakah input kosong atau tidak, lalu cetak hasilnya.

In [162]:
# Write your code here
user_input = input("Masukkan sesuatu: ")
hasil = bool(user_input)

Masukkan sesuatu: ayam

**Tugas 5:**  
Minta pengguna memasukkan kalimat.  
Ubah input tersebut menjadi list dari karakter-karakter yang ada di dalamnya, lalu cetak hasilnya.

Contoh:  
Input: `halo`  
Output: `['h', 'a', 'l', 'o']`

In [92]:
# Write your code here
kalimat = input("Masukkan kalimat: ")
karakter_list = list(kalimat)

print(karakter_list)

Masukkan kalimat: halo
['h', 'a', 'l', 'o']

**Tugas 6:**  
Minta pengguna memasukkan 5 angka (gunakan `input()` sebanyak 5 kali).  
Setiap angka diubah ke `int`, dan disimpan dalam list `numbers`.

Setelah semua angka dikumpulkan, cetak:
- Rata-rata nilainya
- Angka terbesar
- Apakah semua angka > 0 (gunakan `all()`)

In [100]:
# Write your code here
for i in range(5):
    num = int(input(f"Masukkan angka ke-{i+1}: "))
    numbers.append(num)
average = sum(numbers) / len(numbers)
max_num = max(numbers)
all_positive = all(n > 0 for n in numbers)

print("Rata-rata:", average)
print("Angka terbesar:", max_num)
print("Semua angka > 0?", all_positive)

Masukkan angka ke-1: 8
Masukkan angka ke-2: 88
Masukkan angka ke-3: 888
Masukkan angka ke-4: 9
Masukkan angka ke-5: 99
Rata-rata: 55.72727272727273
Angka terbesar: 888
Semua angka > 0? True

## Functions

**Tugas 1:**  
Buat fungsi `say_hello()` yang mencetak `"Hello, world!"`  
Panggil fungsi tersebut.

In [56]:
# Write your code here
def say_hello():
    print("Hello, world!")
say_hello()

Hello, world!

**Tugas 2:**  
Buat fungsi `cube(x)` yang mengembalikan kubik dari `x`.  
Panggil dengan nilai `4` dan tampilkan hasilnya.

In [163]:
# Write your code here
def cube(x):
    return x ** 3
result = cube(4)
print(result)

64

**Tugas 3:**  
Buat fungsi `greet(name="User")` yang mencetak `"Halo, <name>!"`  
Panggil fungsi:
- Tanpa argumen
- Dengan nama custom

In [58]:
# Write your code here
def greet(name="User"):
    print(f"Halo, {name}!")
greet()
greet("Ali")

Halo, User!
Halo, Ali!

**Tugas 4:**  
Buat fungsi `check_number(num)` yang:
- Mencetak `"Positif"` jika `num > 0`
- Mencetak `"Negatif"` jika `num < 0`
- Mencetak `"Nol"` jika `num == 0`

In [62]:
# Write your code here
def check_number(num):
    if num > 0:
        print("Positif")
    elif num < 0:
        print("Negatif")
    else:
        print("Nol")

check_number(5)
check_number(-3)
check_number(0)

Positif
Negatif
Nol

**Tugas 5:**  
Buat lambda function `multiply` yang mengalikan dua angka.  
Panggil fungsi tersebut dengan nilai `3` dan `4`, lalu cetak hasilnya.

In [63]:
# Write your code here
multiply = lambda x, y: x * y
result = multiply(3, 4)
print(result)

12

**Tugas 6:**  
Buat fungsi `sum_all(*numbers)` yang menerima banyak angka dan mengembalikan jumlah totalnya.  
Panggil dengan beberapa angka, misalnya `1, 2, 3, 4`.

In [64]:
# Write your code here
def sum_all(*numbers):
    return sum(numbers)
result = sum_all(1, 2, 3, 4)
print(result)

10

**Tugas 7:**  
Buat fungsi `print_profile(**data)` yang mencetak setiap pasangan `key: value` dari data yang diberikan.  
Contoh:

```python
print_profile(name="Ali", age=19, major="Statistics")
```

In [65]:
# Write your code here
def print_profile(**data):
    for key, value in data.items():
        print(f"{key}: {value}")
print_profile(name="Ali", age=19, major="Statistics")

name: Ali
age: 19
major: Statistics

## OOP

**Tugas 1**:<br>
Buat kelas bernama `Animal`.<br>
Untuk saat ini, biarkan kelas tersebut kosong (gunakan `pass`).<br>
Buat objek `hewan_1` dari kelas tersebut.

In [103]:
# Write your code here
class Animal:
    pass
hewan_1 = Animal()

print(hewan_1)

<__main__.Animal object at 0x782f23d29670>

**Tugas 2**:<br>
Modifikasi kelas `Animal` agar menerima `name` dan `colour` sebagai parameter.  
Simpan keduanya sebagai *intance attribute*.

Tampilkan `nama dari hewan_1` dan `warna dari hewan_1`

In [104]:
# Write your code here
class Animal:
    def __init__(self, name, colour):
        self.name = name
        self.colour = colour
hewan_1 = Animal("Kucing", "Putih")

print("Nama:", hewan_1.name)
print("Warna:", hewan_1.colour)

Nama: Kucing
Warna: Putih

**Tugas 3**:<br>
Tambahkan method `greet()` ke dalam kelas `Animal` yang mencetak `(Silakan buat sekreatif mungkin)`.<br>
Panggil `hewan_1.greet()`.

In [105]:
# Write your code here
class Animal:
    def __init__(self, name, colour):
        self.name = name
        self.colour = colour

    def greet(self):
        print(f"Halo! Aku {self.name} yang berwarna {self.colour}. Senang bertemu denganmu!")
hewan_1 = Animal("Kucing", "Putih")

hewan_1.greet()

Halo! Aku Kucing yang berwarna Putih. Senang bertemu denganmu!

**Tugas 4**:<br>
Buat dua objek `hewan_1` dan `hewan_2` dari kelas `Animal`.<br>
Berikan nama dan umur berbeda, dan panggil `greet()` untuk keduanya.

In [106]:
# Write your code here
class Animal:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def greet(self):
        print(f"Halo! Aku {self.name}, berumur {self.age} tahun. Senang bertemu denganmu!")

hewan_1 = Animal("Kucing", 2)
hewan_2 = Animal("Anjing", 5)

hewan_1.greet()
hewan_2.greet()

Halo! Aku Kucing, berumur 2 tahun. Senang bertemu denganmu!
Halo! Aku Anjing, berumur 5 tahun. Senang bertemu denganmu!

**Tugas 5**:<br>
Tambahkan variabel kelas `kingdom = "Animalia"` pada kelas `Animal`.<br>
Tampilkan `hewan_1.kingdom`, `hewan_2.kingdom`, dan `Animal.kingdom`.

In [107]:
# Write your code here
class Animal:
    kingdom = "Animalia"
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def greet(self):
        print(f"Halo! Aku {self.name}, berumur {self.age} tahun.")

hewan_1 = Animal("Kucing", 2)
hewan_2 = Animal("Anjing", 5)

print(hewan_1.kingdom)
print(hewan_2.kingdom)
print(Animal.kingdom)

Animalia
Animalia
Animalia

**Tugas 6**:<br>
Ubah `hewan_2.kingdom` menjadi `"Fungi"` secara langsung.<br>
Perhatikan: Apakah itu mengubah nilai `kingdom` pada `hewan_2` atau `Animal`?

In [108]:
# Write your code here
hewan_2.kingdom = "Fungi"

print("hewan_1.kingdom:", hewan_1.kingdom)
print("hewan_2.kingdom:", hewan_2.kingdom)
print("Animal.kingdom:", Animal.kingdom)

hewan_1.kingdom: Animalia
hewan_2.kingdom: Fungi
Animal.kingdom: Animalia

**Tugas 7**:<br>
Tambahkan method `is_rare()` dalam kelas `Animal`<br>
Return
- `False` jika warnanya putih, hitam, atau abu-abu
- `True` jika selainnya

Uji dengan memanggil `hewan_1.is_rare()`.

In [109]:
# Write your code here
class Animal:
    kingdom = "Animalia"
    def __init__(self, name, colour):
        self.name = name
        self.colour = colour
    def greet(self):
        print(f"Halo! Aku {self.name}, warnaku {self.colour}.")
    def is_rare(self):
        if self.colour.lower() in ["putih", "hitam", "abu-abu"]:
            return False
        else:
            return True

hewan_1 = Animal("Kucing", "Putih")
hewan_2 = Animal("Burung", "Merah")

print(hewan_1.is_rare())
print(hewan_2.is_rare())

False
True

**Tugas 8:**  
Buat kelas `Device` dengan atribut `brand`.  
Buat dua kelas `Phone` dan `Laptop` yang mewarisi dari `Device`.  
Tambahkan atribut `model` di `Phone` dan `Laptop`.  
Cetak brand dan model dari masing-masing objek `Phone` dan `Laptop`.

In [101]:
# Write your code here
class Animal:
    def __init__(self, name):
        self.name = name

    def speak(self):
        print(f"{self.name} makes a sound.")

class Dog(Animal):
    def speak(self):
        print(f"{self.name} barks.")

**Tugas 9:**  
Tambahkan method `info()` pada `Device` yang mencetak `"Perangkat umum."`  
Override method tersebut di `Phone` dan `Laptop`:
- `Phone`: cetak `"<brand> <model> adalah ponsel."`
- `Laptop`: cetak `"<brand> <model> adalah laptop."`

In [102]:
# Write your code here
class Device:
    def info(self):
        print("Perangkat umum.")

class Phone(Device):
    def __init__(self, brand, model):
        self.brand = brand
        self.model = model

    def info(self):
        print(f"{self.brand} {self.model} adalah ponsel.")

**Tugas 10:**  
Tambahkan method `power_on()` di kelas `Device` yang mencetak `"Menyalakan perangkat..."`  

Kemudian override method tersebut di `Phone` dan `Laptop`:
- Di dalam `Phone.power_on()`, panggil `super().power_on()` lalu cetak `"Memulai sistem ponsel."`
- Di dalam `Laptop.power_on()`, panggil `super().power_on()` lalu cetak `"Menyalakan sistem operasi laptop."`

Definisikan ulang 3 objek:
- d = Device()
- p = Phone()
- l = Laptop()

Panggil method tersebut pada objek `d`, `p`, dan `l`.

In [164]:
# Write your code here
class Device:
    def power_on(self):
        print("Menyalakan perangkat...")
class Phone(Device):
    def power_on(self):
        super().power_on()
        print("Memulai sistem ponsel.")
class Laptop(Device):
    def power_on(self):
        super().power_on()
        print("Menyalakan sistem operasi laptop.")

d = Device()
p = Phone()
l = Laptop()

d.power_on()
print("---")
p.power_on()
print("---")
l.power_on()

Menyalakan perangkat...
---
Menyalakan perangkat...
Memulai sistem ponsel.
---
Menyalakan perangkat...
Menyalakan sistem operasi laptop.